@model  List<Rvas_ispit_projekat.Models.Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" />
<h2>Index</h2>

@if (!Model.Any())
{
    <p> We dont have any books yet</p>
}
else
{




    <table class="table table-bordered table-hover" id="Book">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Details</th>
                <th>Delete</th>
                <th>Update</th>

            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.title</td>
                    <td>@item.author</td>
                    <td>@item.Publisher.publisherName</td>
                    <td>@item.genre</td>
                    <td>@item.price<text> RSD</text></td>
                    <td>@Html.ActionLink("Details", "BookDetails", "Books", new { id = item.id }, null)</td>
                    <td>@Html.ActionLink("Delete", "Delete", "Books", new { id = item.id }, new { onclick = "return confirm('Do you really want to delete the Book: " + item.title + "?')" })</td>
                    <td>@Html.ActionLink("Edit", "Edit", "Books", new { id = item.id }, null)</td>

                </tr>



            }
        </tbody>


    </table>

    <h2>Add new book:</h2>
    <p>@Html.ActionLink("Add", "New", "Books", null, new { @class = "btn btn-primary" })</p>
    @*@section scripts{
            <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js" type="text/javascript"></script>
            <script>

            $(document).ready(function () {
                $('#Book').DataTable();
            });


            </script>



        }*@

    @section scripts{


        <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js" type="text/javascript"></script>

        <script>

            $(document).ready(function () {
                $('#Book').DataTable();
            });

        </script>
    }
}