@model Rvas_ispit_projekat.Models.User
@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserDetails</h2>
<label>Name:</label>
<p>@Model.name</p>

<label>Last name:</label>
<p>@Model.lastname</p>

<label>Email:</label>
<p>@Model.email</p>

<label>Phone:</label>
<p>@Model.phone</p>

<label>Adress:</label>
<p>@Model.adress</p>

